.Alho, .Cenoura, .Chirivia, .Couve-Flor, .Moranga, .Ruibarbo, .Vagem, .Carambolas, .Lupulos, .Melão, .Milhões {
        padding: 50px;
}
html {
        background-image: url(/wallpaperfoda.png);
}
.Titulo {
    
        text-align: center;
        font-style: oblique;
    }
