.Alho, .Cenoura, .Chirivia, .Couve-Flor, .Moranga, .Ruibarbo, .Vagem, .Carambolas, .Lupulos, .Melão, .Milhões {
        padding: 50px;
}
html {
        background-image: url(/wallpaperfoda.png);
}
.Titulo {
    
color: azure;
        text-align: center;
        font-style: oblique;
    }
.Texto {

        color: azure;
}
.Couve-Flor {
        color: chartreuse;
}
.Moranga {
        color: azure;
}
.Ruibarbo {
        color: azure;
}